<header>
	<div class="wrapper">
		<div class="sub-wrapper">
			<img src="assets/img/LOGO_AT&T.png" alt="" ng-click="$event.stopPropagation();">
			<span class="label-title">
				<span>Indicadores Autoservicio</span>
				<span class="color-disable">v0</span>
			</span>
		</div>
	</div>
	<ul class="line">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<div class="tabs">
		<dib class="tab" ng-class="{active: tab.active}" ng-repeat="tab in tabs" ng-click="$event.stopPropagation();tabsToggle(tab)">{{tab.title}}</dib>
	</div>

</header>

<div full-page options="vm.mainOptions">
  	<div class="section">
		
		<div class="wrapper-daily">
				<div class="title-table f-18 height-30">
						<span class="color-blue">Accesos</span>
				</div>
				<span class="wrapper-table">
					<table class="daily">
						<tbody>
							<tr class="height-40">
								<td class="line-bottom-2" ng-repeat="row in header  track by $index">{{row}}</td>
							</tr>
							<tr ng-repeat="row in accesorios.table  track by $index" ng-class="{'last-child': $last}">
								<td ng-repeat="col in row  track by $index">{{col}}</td>
							</tr>
						</tbody>
					</table>
				</span>
				<span class="wrapper-info">
					<table class="daily">
						<tbody>
							<tr class="height-40">
								<td class="line-bottom-2" ng-repeat="row in header  track by $index">{{row}}</td>
							</tr>
							<tr ng-repeat="row in accesorios.table  track by $index">
								<td ng-repeat="col in row  track by $index">{{col}}</td>
							</tr>
						</tbody>
					</table>
				</span>
		</div>
	</div>
	<div class="section">
		<div class="wrapper-daily">
			<div class="title-table f-18 height-30">
				<span class="color-blue">Pagos de Factura</span>
			</div>
			<span class="wrapper-table">
				<table class="daily">
					<tbody>
						<tr class="height-40">
							<td class="line-bottom-2" ng-repeat="row in header  track by $index">{{row}}</td>
						</tr>
						<tr ng-repeat="row in pagoFactura.table  track by $index" ng-class="{'last-child': $last}">
							<td ng-repeat="col in row  track by $index">{{col}}</td>
						</tr>
					</tbody>
				</table>
			</span>
			<span class="wrapper-info">
				<table class="daily">
					<tbody>
							<tr class="height-40">
								<td class="line-bottom-2" ng-repeat="row in header  track by $index">{{row}}</td>
							</tr>
						<tr ng-repeat="row in accesorios.table  track by $index">
							<td ng-repeat="col in row  track by $index">{{col}}</td>
						</tr>
					</tbody>
				</table>
			</span>
		</div>
	</div>
	<div class="section">
		<div class="wrapper-daily">
			<div class="title-table f-18 height-30">
					<span class="color-blue">Recargas</span>
			</div>
			<span class="wrapper-table">
				<table class="daily">
					<tbody>
						<tr class="height-40">
							<td class="line-bottom-2" ng-repeat="row in header  track by $index">{{row}}</td>
						</tr>
						<tr ng-repeat="row in accesorios.table  track by $index" ng-class="{'last-child': $last}">
							<td ng-repeat="col in row  track by $index">{{col}}</td>
						</tr>
					</tbody>
				</table>
			</span>
			<span class="wrapper-info">
				<table class="daily">
					<tbody>
						<tr class="height-40">
							<td class="line-bottom-2" ng-repeat="row in header  track by $index">{{row}}</td>
						</tr>
						<tr ng-repeat="row in accesorios.table  track by $index">
							<td ng-repeat="col in row  track by $index">{{col}}</td>
						</tr>
					</tbody>
				</table>
			</span>
		</div>
		
	</div>
</div>


<div class="wrapper-chart" ng-class="{chartDisplayAll: chartDisplayAll}">
		<div class="item-row">
			<div class="item-col"> <i class="icon icon-arrow" ng-click="toggleChart();"></i></div>
		</div>
		<div class="wrapper-chart-inner">
				<canvas id="myChart1"></canvas>
		</div>
</div>