<header>
	<div class="wrapper">
		<div class="sub-wrapper">
			<img src="assets/img/LOGO_AT&T.png" alt="">
			<span class="label-title">
				<span>Indicadores Visual</span>
				<span class="color-disable">v0</span>
			</span>
		</div>
	</div>
	<ul class="line">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</header>

<div class="charts">
		<br>
		<br>
		<div class="content">
			<div class="item-row">
				<div class="item-col"><h2 class="color-blue t-left">
					<img class="icon-card" src="assets/img/icon.01.svg" alt="">
					<span class="c-black">Sesiones Visuales</span>
					<i class="icon icon-expand-solid"  ng-click="full(accesos.chart, 'Sesiones Visuales', 'myChart1', 'myChart1Wrapper', '01')"></i>
				</h2>
				<hr>
				</div>
			</div>
			<div class="wrapper-chart-inner" id="myChart1Wrapper">
					<canvas id="myChart1"></canvas>
			</div>
		</div>
		<br>
		<br>
		<div class="content">
		<div class="item-row">
			<div class="item-col"><h2 class="color-blue t-left">
					<img class="icon-card" src="assets/img/icon.02.svg" alt="">
					<span class="c-black">Ingresos por Pagos</span>
				<i class="icon icon-expand-solid"  ng-click="full(pagoFactura.chart, 'Ingresos por pagos', 'myChart2', 'myChart2Wrapper', '02')"></i>
			</h2>
			<hr>
			</div>
		</div>
		<div class="wrapper-chart-inner" id="myChart2Wrapper">
				<canvas id="myChart2"></canvas>
		</div>
		</div>
		<br>
		<br>
		<div class="content">
			<div class="item-row">
				<div class="item-col"><h2 class="color-blue t-left">
						<img class="icon-card" src="assets/img/icon.03.svg" alt="">
						<span class="c-black">Ingresos por Recarga</span>
					<i class="icon icon-expand-solid"  ng-click="full(recargas.chart, 'Ingresos por regcarga', 'myChart3', 'myChart3Wrapper', '03')"></i>
				</h2>
				<hr>
				</div>
			</div>
			<div class="wrapper-chart-inner" id="myChart3Wrapper">
					<canvas id="myChart3"></canvas>
			</div>
		</div>
		<br>
		<br>
		<div class="content">
			<div class="item-row">
				<div class="item-col"><h2 class="color-blue t-left">
						<img class="icon-card" src="assets/img/icon.04.svg" alt="">
						<span class="c-black">Acumulado Mensual</span>
					</h2>
					<hr>
				</div>
			</div>
			<div>
				<div class="card-row">
					<div class="card-col width-100p blue-dark">
						<div class="card-top">{{acom6[0].cantidad}}</div>
						<div class="card-bottom"><span>{{acom6[0].flujo}}</span></div>
					</div>
				</div>

				<div class="card-row">
					<div class="card-col">
						<div class="card-top">{{acom6[1].cantidad}}</div>
						<div class="card-bottom"><span>{{acom6[1].flujo}}</span></div>
					</div>
					<div class="card-col">
							<div class="card-top">{{acom6[2].cantidad}}</div>
							<div class="card-bottom"><span>{{acom6[2].flujo}}</span></div>
					</div>
				</div>

				<div class="card-row">
						<div class="card-col">
							<div class="card-top">{{acom6[3].cantidad}}</div>
							<div class="card-bottom"><span>{{acom6[3].flujo}}</span></div>
						</div>
						<div class="card-col">
							<div class="card-top">{{acom6[4].cantidad}}</div>
							<div class="card-bottom"><span>{{acom6[4].flujo}}</span></div>
						</div>
				</div>

				<div class="card-row">
					<div class="card-col green">
						<div class="card-top">{{ingresos4[0].monto}}</div>
						<div class="card-bottom"><span>{{ingresos4[0].flujo}}</span></div>
					</div>
					<div class="card-col green">
						<div class="card-top">{{ingresos5[0].monto}}</div>
						<div class="card-bottom"><span>{{ingresos5[0].flujo}}</span></div>
					</div>
				</div>

				<div class="card-row">
					<div class="card-col">
						<div class="card-top">{{acom6[5].cantidad}}</div>
						<div class="card-bottom"><span>{{acom6[5].flujo}}</span></div>
					</div>
					<div class="card-col">
						<div class="card-top">{{acom6[6].cantidad}}</div>
						<div class="card-bottom"><span>{{acom6[6].flujo}}</span></div>
					</div>
				</div>

				<div class="card-row">
					<div class="card-col">
						<div class="card-top">{{acom6[7].cantidad}}</div>
						<div class="card-bottom"><span>{{acom6[7].flujo}}</span></div>
					</div>
					<div class="card-col">
						<div class="card-top">{{acom6[8].cantidad}}</div>
						<div class="card-bottom"><span>{{acom6[8].flujo}}</span></div>
					</div>
				</div>

				<div class="card-row">
					<div class="card-col">
						<div class="card-top">{{acom6[9].cantidad}}</div>
						<div class="card-bottom"><span>{{acom6[9].flujo}}</span></div>
					</div>
					<div class="card-col">
						<div class="card-top">{{acom6[10].cantidad}}</div>
						<div class="card-bottom"><span>{{acom6[10].flujo}}</span></div>
					</div>
				</div>

			</div>

		</div>
		<br>
		<br>
		<div class="content">

			<div class="">
					<div class="item-row">
							<div class="item-col"><h2 class="color-blue t-left">
									<img class="icon-card" src="assets/img/feedback.svg" alt="">
									<span class="c-black">Encuestas</span>
								</h2>
								<hr>
							</div>
						</div>
				<ul class="margin-top-20">
					<li><span class="num-custom" >{{j07[0].cantidad}}</span><span>{{j07[0].pregunta}}</span></li>
					<li><span class="num-custom" >{{j07[1].cantidad}}</span><span>{{j07[1].pregunta}}</span></li>
					<br>
					<li><span class="num-custom" >{{j08[0].cantidad}}</span><span>{{j08[0].pregunta}}</span></li>
					<li><span class="num-custom" >{{j08[1].cantidad}}</span><span>{{j08[1].pregunta}}</span></li>
					<br>
					<li class="display-table"><div class="num-custom-big display-table-cell ico-pincel" >{{j09[0].cantidad}}</div><div class="display-table-cell">Calificación promedio de servicios AT&T en una escala de 10</div></li>
				</ul>
		</div>
		<br>
</div>


<br>
<br>

<div class="full-screen" ng-class="{transition: fullScreen}" id="wrapper">
	<div class="item-row">
		<div class="item-col"><h2 class="color-blue t-left">
				<img class="icon-card" src="assets/img/icon.{{icon}}.svg" alt="">
				<span class="c-black">{{labelChart}}</span>

			<i class="icon icon-compress-solid"  ng-click="min()"></i>
		</h2>
		</div>
	</div>
	<div class="wrapper-chart-full-inner" id="xd">
	</div>
</div>