/*
rgb(0,0,0) black
rgb(255,255,255) white
rgb(200,200,200) gray
rgb(51, 153, 255) blue
rgb(0,0,0)
*/

@font-face {
    font-family: PoppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: PoppinsBold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: PoppinsLight;
    src: url(../fonts/Poppins-Light.ttf);
}

*{
	box-sizing: border-box;
}

body, input, button,textarea{
	font-family: 'PoppinsRegular', 'Times New Roman';
	font-weight: 100;
	line-height: 1.2;
    color: rgba(0,0,0,.6);
	font-size: 12px;
	margin: 0;
    padding: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: rgb(100,100,100);
	-webkit-touch-callout: none;
}


a, input, button {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

button{
	width: 100%;
	height: 50px;
	border:0;
	background-color: rgb(200,200,200);
	cursor: pointer;
}
input{
	width: 100%;
	height: 50px;
	border:0;
	border-bottom: 1px solid rgb(200,200,200);
	text-align: center;
}
header{
	height: 60px;
    width: 100%;
    font-size: 14px;
    position: fixed;
    z-index: 2;
    background-color: rgba(255,255,255,.9);
    top: 0;
    left: 0;
    right: 0;
}
header .wrapper{
    padding-left: 5%;
    padding-right: 5%;
}
header .sub-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    height: 60px;
}
main{
    padding: 20px;
    padding-top: 60px;
    background-color: rgb(245,245,245);
}
.label-title{
    position: absolute;
    top: 30px;
    left: 95px;
}

.label-date{
    margin-top: 11px;
}

h1,h2{
    font-weight: normal;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
    font-weight: 100;
}

/* Color */

.t-left{
    text-align: left;
}
.black{background-color:rgb(0,0,0);}
.white{background-color:rgb(255,255,255);}
.gray{background-color:rgb(200,200,200);}
.blue{background-color:rgb(51, 153, 255);}
.black{background-color:rgb(0,0,0);}

.fa-black{color:rgb(0,0,0);}
.fa-white{color:rgb(255,255,255);}
.fa-gray{color:rgb(200,200,200);}
.fa-blue{color:rgb(51, 153, 255);}
.fa-black{color:rgb(0,0,0);}

.row:after {
    content: "";
    clear: both;
    display: block;
}
.md-col-1 {width: 8.33%;}
.md-col-2 {width: 16.66%;}
.md-col-3 {width: 25%;}
.md-col-4 {width: 33.33%;}
.md-col-5 {width: 41.66%;}
.md-col-6 {width: 50%;}
.md-col-7 {width: 58.33%;}
.md-col-8 {width: 66.66%;}
.md-col-9 {width: 75%;}
.md-col-10 {width: 83.33%;}
.md-col-11 {width: 91.66%;}
.md-col-12 {width: 100%;}

@media (max-width: 1024px) {
    .sm-col-1 {width: 8.33%;}
    .sm-col-2 {width: 16.66%;}
    .sm-col-3 {width: 25%;}
    .sm-col-4 {width: 33.33%;}
    .sm-col-5 {width: 41.66%;}
    .sm-col-6 {width: 50%;}
    .sm-col-7 {width: 58.33%;}
    .sm-col-8 {width: 66.66%;}
    .sm-col-9 {width: 75%;}
    .sm-col-10 {width: 83.33%;}
    .sm-col-11 {width: 91.66%;}
    .sm-col-12 {width: 100%;}
}
@media (min-width: 2000px) {
    .lg-col-1 {width: 8.33%;}
    .lg-col-2 {width: 16.66%;}
    .lg-col-3 {width: 25%;}
    .lg-col-4 {width: 33.33%;}
    .lg-col-5 {width: 41.66%;}
    .lg-col-6 {width: 50%;}
    .lg-col-7 {width: 58.33%;}
    .lg-col-8 {width: 66.66%;}
    .lg-col-9 {width: 75%;}
    .lg-col-10 {width: 83.33%;}
    .lg-col-11 {width: 91.66%;}
    .lg-col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    overflow: auto;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background-color: rgb(51,153,75);
    color:rgb(255,255,255);
    transition: .3s;
}
button:hover{
    background-color: rgb(61,163,85);
    transition: .3s;
}
button:active{
    box-shadow: inset 0px 0px 5px rgba(0,0,0,.5);
    transition: .1s;
}
button.disable:active{
    box-shadow: none;
}
button.disable{
    background-color: rgb(200,200,200);
    cursor: default;
}

table{
	display: table;
	border-collapse: collapse;
    width: 100%;
    border: 1px solid transparent;
}
th,td{
	border: 1px solid rgb(224,224,224);
    padding: 12px;
    padding-left: 15px;
    padding-right: 10px;
}

table tr:hover{
    background-color: rgba(200,200,200,.1);
    color: rgba(0,0,0,1)!important;
}

ul.line li{
    width: 16.66%;
    float: left;
    height: 4px;
    display: block;
}
ul.line li:nth-child(1){
    background-color: rgb(48,209,255);
}
ul.line li:nth-child(2){
    background-color: rgb(23,185,237);
}
ul.line li:nth-child(3){
    background-color: rgb(1,158,220);
}
ul.line li:nth-child(4){
    background-color: rgb(6,135,204);
}
ul.line li:nth-child(5){
    background-color: rgb(10,110,192);
}
ul.line li:nth-child(6){
    background-color: rgb(15,84,176);
}

.tabs{
    margin-top: 20px;
    display: table;
    height: 30px;
    width: 100%;
}
.tabs .tab{
    display: table-cell;
    border-bottom: 2px solid rgb(206,206,206);
    vertical-align: middle;
    text-align: center;
    width: 50%;
    cursor: pointer;
}
.tabs .tab.active{
    border-bottom: 2px solid rgb(48,209,255);
    color: rgb(1,158,220);
}

.wrapper-daily{
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    height: 400px;
}
.wrapper-monthly{
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    height: 600px;
}
.wrapper-consmonthly{
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    height: 652px;
}

.height-40{
    height: 40px;
}

.wrapper-consmonthly .wrapper-info,
.wrapper-consmonthly .wrapper-table,
.wrapper-monthly .wrapper-info,
.wrapper-monthly .wrapper-table,
.wrapper-daily .wrapper-table,
.wrapper-daily .wrapper-info{
    position: fixed;
    left: 5%;
    right: 5%;
    opacity: 0;
}
.wrapper-consmonthly .wrapper-table .title-table,
.wrapper-consmonthly .wrapper-table table tr td,
.wrapper-consmonthly .wrapper-table table tr td b,
.wrapper-consmonthly .wrapper-table table tr td span,
.wrapper-monthly .wrapper-table table tr td,
.wrapper-monthly .wrapper-table table tr td b,
.wrapper-daily .wrapper-table table tr td,
.wrapper-daily .wrapper-table table tr td b{
    color: transparent!important;
}
.wrapper-consmonthly .wrapper-info table.daily tr td,
.wrapper-monthly .wrapper-info table.daily tr td,
.wrapper-daily .wrapper-info table.daily tr td{
    border: 1px solid transparent!important;
    background-color: transparent!important;
}


table.daily tr td{
    /* width: 12%; */
    border-right: none;
    border-left: none;
}
table.monthly tr td{
    width: 9.9%;
    border-right: none;
    border-left: none;
    text-align: center;
    color: rgba(0,0,0,.6);
}
table.daily.ext-min tr:first-child td{
    text-align: left;
}

b{
    font-weight: 400;
    color: rgba(0,0,0,.87);
    font-family: 'PoppinsBold', 'Times New Roman';
}
/* table.daily tr:last-child td{
    font-weight: bold;
    background-color: rgb(245,245,245);
} */
table.daily tr.last-child td{
    font-weight: bold;
    background-color: rgb(245,245,245);
}
table.daily tr td:first-child{
    width: 16%;
    border: 1px solid rgb(224,224,224);
    text-align: left;
    font-weight: bold;
    border-right: 1px solid transparent!important;
}

table.daily.header tr:last-child td{
    font-weight: 100;
    background-color: rgb(255,255,255);
}
table.daily.header tr td:first-child{
    width: 16%;
    border-right: none;
    font-weight: 100;
    font-weight: bold;
    text-align: left;
}
table.daily tr td:last-child{
    border-right: 1px solid rgb(224,224,224);
}
table.last-churn tr td{
    border:1px solid rgb(224,224,224);
    text-align: left;
    width: 33%!important;
}
table.monthly tr td:first-child{
    width: 10.9%;
}
table.monthly.ext tr:first-child td:nth-child(2),
table.monthly.ext tr:first-child td:nth-child(10){
    border-top: 1px solid rgb(1,158,220)
}
table.monthly.ext tr:last-child td:nth-child(2),
table.monthly.ext tr:last-child td:nth-child(10){
    border-bottom: 1px solid rgb(1,158,220)
}
table.daily tr td.text-left{
    text-align: left;
}

.wrapper-chart.chartDisplayAll{
    height: calc(100vh - 167px);
    transition: .3s;
}

.wrapper-chart-inner{
    height: 275px;
}

.icon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    display: block;
    margin-right: 10px;
    cursor: pointer;
}
.icon-compress-solid{
    background-image: url(../img/compress-solid.svg);
}
.icon-expand-solid{
    background-image: url(../img/expand-solid.svg);
}
.full-screen{
    background-color: white;
    position: fixed;
    z-index: -1;
    padding: 20px;
    margin: 20px;
    transition: .3s;
    height: 260px;
    overflow: hidden;
    visibility: hidden;
    right: 0;
    left:0;
    transition: .3s;
}
.full-screen.transition{
    top:64px!important;
    bottom: 0;
    height: auto;
    padding: 30px; 
    padding-top: 20px;
    z-index: 10;
    visibility: visible;
    margin: 0px;
}
.wrapper-chart-full-inner{
    height: 201px;
    transition: .3s;
    width: 100%;
    position: relative;
}
.transition .wrapper-chart-full-inner{
    height: calc(100vh - 150px);
    transition: .3s;
}
.wrapper-chart.chartDisplayAll .wrapper-chart-inner{
    height: calc(100vh - 250px);
}
.fp-tableCell {
    vertical-align: top;
    padding-top: 130px;
}


.b-blue-right{
    border-right: 1px solid rgb(1,158,220)!important;   
}
.b-blue-top{
    border-top: 1px solid rgb(1,158,220)!important;   
}
.b-blue-bottom{
    border-bottom: 1px solid rgb(1,158,220)!important;   
}
.gray-light{
    background-color: rgb(250,250,250);
}
.color-high{
    color: rgba(0,0,0,.87);
}
.color-medium{
    color: rgba(0,0,0,.6);
}
.color-disable{
    color: rgba(0,0,0,.38)!important;
}
.color-blue{
    color: rgb(1,158,220);
}
.align-left{
    float: left;
    line-height: 2;
}
.align-right{
    float: right;
}
.f-20{
    font-size: 20px;
}
.f-18{
    font-size: 18px;
}
.f-14{
    font-size: 14px;
}

.height-30{
    height: 30px;
}


table.daily tr td.line-bottom-2{
    border-bottom: 2px solid rgb(224,224,224);
}
.title-table{
    font-family: PoppinsLight, 'Times New Roman';
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.grid-two{
    height: 218px;
}
ul.grid-two li {
    width: 54%;
    float: left;
    margin-right: 1%;
}
ul.grid-two li:last-child {
    margin-right: 0;
    margin-left: 1%;
    width: 44%;
}



.fp-section .wrapper-daily .wrapper-table{ 
    -webkit-animation-name: leftin0;  
    -webkit-animation-duration: 2s; 
    -webkit-animation-fill-mode: forwards; 
    animation-name: leftin0;
    animation-duration: 2s;    
    animation-fill-mode: forwards;
}
.fp-section .wrapper-daily .wrapper-info{ 
    -webkit-animation-name: rightin0;  
    -webkit-animation-duration: 1s; 
    -webkit-animation-fill-mode: forwards; 
    animation-name: rightin0;
    animation-duration: 1s;    
    animation-fill-mode: forwards;
}
@-webkit-keyframes leftin0 {
    to {left: 5%; right: 5%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@keyframes leftin0 {
    to {left: 5%; right: 5%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@-webkit-keyframes rightin0 {
    to {left: 50%; right: -20%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@keyframes rightin0 {
    to {left: 50%; right: -20%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
.fp-section.active .wrapper-daily .wrapper-table{ 
    -webkit-animation-name: leftout0; 
    -webkit-animation-duration: 2s;  
    -webkit-animation-fill-mode: forwards;
    animation-name: leftout0;
    animation-duration: 2s;    
    animation-fill-mode: forwards;
}
.fp-section.active .wrapper-daily .wrapper-info{ 
    -webkit-animation-name: rightout0; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-fill-mode: forwards; 
    animation-name: rightout0;
    animation-duration: 1s;    
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@-webkit-keyframes leftout0 {
    from {left: 5%; right: 5%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@keyframes leftout0 {
    from {left: 5%; right: 5%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@-webkit-keyframes rightout0 {
    from {left: 50%; right: -30%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@keyframes rightout0 {
    from {left: 50%; right: -30%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}



.fp-section .wrapper-monthly .wrapper-table{ 
    -webkit-animation-name: leftin1;  
    -webkit-animation-duration: 3s; 
    -webkit-animation-fill-mode: forwards;
    animation-name: leftin1;
    animation-duration: 3s;    
    animation-fill-mode: forwards;
    /* animation-delay: 1s; */
}
.fp-section .wrapper-monthly .wrapper-info{ 
    -webkit-animation-name: rightin1;  
    -webkit-animation-duration: 1s;  
    -webkit-animation-fill-mode: forwards;
    animation-name: rightin1;
    animation-duration: 1s;    
    animation-fill-mode: forwards;
}

@-webkit-keyframes leftin1 {
    to {left: 5%; right: 5%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@keyframes leftin1 {
    to {left: 5%; right: 5%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@-webkit-keyframes rightin1 {
    to {left: 50%; right: -20%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@keyframes rightin1 {
    to {left: 50%; right: -20%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
.fp-section.active .wrapper-monthly .wrapper-table{ 
    -webkit-animation-name: leftout1;  
    -webkit-animation-duration: 2s;  
    -webkit-animation-fill-mode: forwards; 
    animation-name: leftout1;
    animation-duration: 2s;    
    animation-fill-mode: forwards;
}
.fp-section.active .wrapper-monthly .wrapper-info{ 
    -webkit-animation-name: rightout1;  
    -webkit-animation-duration: 1s;  
    -webkit-animation-fill-mode: forwards; 
    animation-name: rightout1;
    animation-duration: 1s;    
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@-webkit-keyframes leftout1 {
    from {left: 5%; right: 5%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@keyframes leftout1 {
    from {left: 5%; right: 5%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@-webkit-keyframes rightout1 {
    from {left: 50%; right: -30%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@keyframes rightout1 {
    from {left: 50%; right: -30%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}



.fp-section .wrapper-consmonthly .wrapper-table{ 
    -webkit-animation-name: leftin2;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: leftin2;
    animation-duration: 2s;    
    animation-fill-mode: forwards;
}
.fp-section .wrapper-consmonthly .wrapper-info{ 
    -webkit-animation-name: rightin2;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: rightin2;
    animation-duration: 1s;    
    animation-fill-mode: forwards;
    /* animation-delay: 1s; */
}
@-webkit-keyframes leftin2 {
    to {left: 5%; right: 5%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@keyframes leftin2 {
    to {left: 5%; right: 5%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@-webkit-keyframes rightin2 {
    to {left: 50%; right: -20%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
@keyframes rightin2 {
    to {left: 50%; right: -20%; opacity: 0;}
    from {left: 5%;right: 5%; opacity: 1;}
}
.fp-section.active .wrapper-consmonthly .wrapper-table{ 
    -webkit-animation-name: leftout2;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: leftout2;
    animation-duration: 2s;    
    animation-fill-mode: forwards;
}
.fp-section.active .wrapper-consmonthly .wrapper-info{ 
    -webkit-animation-name: rightout2;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: rightout2;
    animation-duration: 1s;    
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@-webkit-keyframes leftout2 {
    from {left: 5%; right: 5%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@keyframes leftout2 {
    from {left: 5%; right: 5%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@-webkit-keyframes rightout2 {
    from {left: 50%; right: -30%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}
@keyframes rightout2 {
    from {left: 50%; right: -30%; opacity: 0;}
    to {left: 5%;right: 5%; opacity: 1;}
}



.item-row{
    display: table;
    width: 100%;
    min-height: 40px;
}
.item-col{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.padding-20{
    padding: 20px;
}
.padding-top-20{
    padding-top: 20px;
}
.width-50{
    width: 50%;
}
.content{
    padding: 20px;
    transition: .2s;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    background-color: rgb(255,255,255);
}
.charts .content:hover{
    /* cursor: pointer; */
    /* box-shadow: 0 0 20px rgba(0,0,0,.5); */
    transition: .2s;
}
.padding-bottom-0{
    padding-bottom: 0px;
}

i.icon-arrow{
    transition: .3s;
    height: 20px;
    width: 30px;
    margin: 10px;
    background-image: url(../img/icon.arrow.gray.svg)
}
i.icon-arrow:hover{
    background-image: url(../img/icon.arrow.blue.svg)
}

.icon-card{
    margin-right: 10px;
    width: 25px;
    vertical-align: middle;
    margin-bottom: 5px;
}
.c-black{
    color: rgb(0,0,0);
}
hr{
    height: 1px;
    background-color: rgb(235,235,235);
    border: 0;
}

.fs-24{
    font-size: 24px;
}

.num-custom{
    width: 70px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.num-custom-big{
    width: 70px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.margin-top-20{
    margin-top: 20px;
}

.card-row{
    height: 72px;
    display: table;
    width: 100%;
}
.card-col{
    display: table-cell;
    width: 50%;
    color: rgb(255,255,255);
    text-align: center;
    padding: 5px;
}
.card-top{
    height: 36px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    background-color: #009FDB;
    font-family: PoppinsBold;
}
.card-bottom{
    height: 36px;
    background-color: rgba(0,142,208);
    font-size: 12px;
    display: table;
    width: 100%;
    padding: 5px;
}
.card-bottom span{
    display: table-cell;
    vertical-align: middle;
}
.blue-dark .card-top{
    background-color: #0F54AF;
}

.blue-dark .card-bottom{
    background-color: rgb(10,67, 158);
}

.green .card-top{
    background-color: rgb(76,169,12);
}
.green .card-bottom{
    background-color: rgb(65,151,11);
}

.width-100p{
    width: 100%;
}
.display-table{
    display: table;
}
.display-table-cell{
    display: table-cell;
}
@media (max-width: 1200px) {
    b.color-disable{
        display: none;
    }
    th, td {
        padding-left: 10px;
        padding-right: 5px;
    }
    .wrapper-chart-inner{
        height: 200px;
    }

}
@media (max-width: 1000px) {
    b.color-disable{
        display: none;
    }
    th, td {
        padding-left: 5px;
        padding-right: 3px;
        font-size: 9px;
    }
}
@media (max-height: 1200px) {
    .wrapper-chart-inner{
        height: 201px;
    }
    th, td {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
@media (max-height: 900px) {
    th, td {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .wrapper-daily {
        height: 300px;
    }
    .wrapper-monthly {
        height: 450px;
    }
    .wrapper-consmonthly {
        height: 450px;
    }
    ul.grid-two {
        height: 155px;
    }
    .title-table {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #fp-nav.right {
        right: 5px;
    }
}
@media (max-width: 450px) {
    header .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    header .wrapper .align-right{
        float: left;
        display: none;
    }
    td span{
        display: none;
    }
    td span.color-high{
        font-size: 10px;
        display: block;
    }
    td b.color-disable{
        display: block;
    }
    .wrapper-daily {
        height: 170px;
    }
    .wrapper-monthly {
        height: 470px;
    }
    .wrapper-consmonthly {
        height: 470px;
    }
    td{
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 6px;
    }
    .f-18 {
        font-size: 12px;
    }
    .tabs{
        margin-top: 0px;
    }
    header {
        height: 60px;
    }
    .label-title {
        font-size: 12px;
    }
}
@media (max-height: 500px) {
    header{
        display: none;
    }
}