<att-spin ng-class="{hide:spin}"></att-spin>
<main ng-class="beneficios.color" ng-class="{'to-detail': item.toDetail}">
		<att-header h1="titulo" h2="career" ></att-header>
		
	
		<!-- <div class="item-row-full">
			<div class="section-content">
				<div class="item-col">El fecha de corte es el:</div> 
				<div class="item-col t-right"><b>13 de mayo</b></div>
			</div>
		</div> -->
		<section id="contentItems">
			<div class="item-row-empty">
				<b class="c-gray">
					Hoy cuentas con:
				</b>
			</div>
			<div class="wrapper-item" ng-repeat="grupo in beneficios.grupos" ng-class="{'to-detail': grupo.toDetail}" id="iditem{{$index}}">
				
				<div class="item-row" ng-click="showDetail(grupo, 'iditem' + $index)">
					<div class="item-col width-40 padding-lr-20">
						<i class="item-ico" ng-class="grupo.icon"></i>
					</div>
					<div class="item-col">
						<span>{{grupo.nombre}}</span>
					</div>
					<div class="item-col width-114 t-center">
						<h1><b>{{grupo.disponible}}</b></h1>
					</div>
					<div class="item-col width-36">
						<i class="icon item-ico-arrow att-arrow-regular"></i>
					</div>
				</div>

				<div class="overview"></div>
				<div class="alert-detail">
					<hr>
					
					<div class="tabs-content" ng-repeat="detalle in grupo.detalle">
						<div class="tab-content">
							
							<div class="item-row-empty">
								<div class="item-col c-black">
									<h3>Conoce el saldo de cada una de las bolsas:</h3>
								</div>
							</div>
							
							<div class="item-row-empty" ng-repeat="bolsa in detalle.bolsas">
								<div class="item-col">
									{{bolsa.nombre}}
								</div>
								<div class="item-col t-right padding-left-20">
										{{bolsa.incluido}}
								</div>
								<div class="item-col t-right padding-left-20">
									<i class="icon icon-info"></i>
								</div>
							</div>

							
							<div class="item-row-line c-green">
								<div class="item-col">
									<b>Total Saldo</b>
								</div>
								<div class="item-col">
									<b>{{grupo.disponible}}</b>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<!-- <div class="item-row-empty">
				<div class="item-col">Tu próxima asignación será en:</div> 
				<div class="item-col t-right"><b>25 días</b></div>
			</div> -->

			<!-- <hr> -->
	
			<div class="item-row-empty">
				<b class="c-gray">
					¿Alguna duda con tus consumos? 
				</b>
			</div>

			<div class="wrapper-item" ng-class="{'to-detail': item.toDetail}" id="iditemConsumos">
				<div class="item-row" ng-click="showConsumos('iditemConsumos')">
						<div class="item-col width-40 padding-lr-20">
							<i class="item-ico att-data-visualization-slim"></i>
						</div>
						<div class="item-col">
							<span>Consumos</span>
						</div>
						<div class="item-col width-114 t-center">
							<h1><b></b></h1>
						</div>
						<div class="item-col width-36">
							<i class="icon item-ico-arrow att-arrow-regular"></i>
						</div>
					</div>
					<div class="overview"></div>
					<!-- <div class="alert-detail">
						<hr>
					</div> -->
				</div>
			</section>
		</section>


	
	</main>



	<div id="wrappersContents">
		<div id="contentConsumos" class="alert-detail"> 
		<hr>
		<div class="tabs col-3">
			<div class="tab" ng-repeat="item in consumos" ng-class="{ 'active' : item.active }"  ng-click="resetConsumosTabs(item);">
				<i class="icon" ng-class="item.icono"></i>
				<h3>{{item.tipo}}</h3>
			</div>
		</div>
		<div class="tabs col-3 fs-12">
			<div>
				Seleciona un periodo
			</div>
			<div class="t-right" ng-click="changePeriodo(0)">
				<i class="item-radio" ng-class="{active: radioPeriodo[0].active}"></i>
				<span>Actual</span>
			</div>
			<div class="t-right" ng-click="changePeriodo(1)">
				<i class="item-radio" ng-class="{active: radioPeriodo[1].active}"></i>
				<span>Anterior</span>
			</div>
		</div>
		<!-- <div class="wrapper-chart">
			<canvas id="myChart"></canvas>
		</div> -->
		<div class="overflow-auto">
			<table class="detalle-consumos">
				<thead>
					<tr>
						<th ng-repeat="item in consumosTable.titulos">{{item}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in consumosTable.contenido">
						<td ng-repeat="jtem in item">{{jtem}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>