<att-spin ng-class="{hide:spin}"></att-spin>
<main ng-class="beneficios.color" ng-class="{'to-detail': item.toDetail}" ng-show="spin">
		<att-header h1="titulo" h2="career" ></att-header>
		

		<section id="contentItems">
			<div class="item-row-empty">
				<b class="c-gray">
					Hoy tu saldo es de:
				</b>
			</div>
			<div class="wrapper-item" ng-repeat="grupo in beneficios.grupos" ng-if="grupo.tipoBolsa === 'saldos'" ng-class="{'to-detail': grupo.toDetail}" id="iditems{{$index}}">
				
				<div class="item-row" ng-click="!esIllimitada(grupo.disponible) && showDetail(grupo, 'iditems' + $index)">
					<div class="item-col width-40 padding-lr-20">
						<i class="item-ico" ng-class="grupo.icon"></i>
					</div>
					<div class="item-col">
						<span>{{grupo.nombre}}</span>
					</div>
					<div class="item-col width-114 t-center">
						<h1 ng-if="!esIllimitada(grupo.disponible)"><b>{{grupo.disponible}}</b></h1>
						<h1 ng-if="esIllimitada(grupo.disponible)"><b class="c-green fs-18">{{grupo.disponible}}</b></h1>
					</div>
					<div class="item-col width-36">
						<i class="icon icon-arrow icon-arrow"  ng-if="!esIllimitada(grupo.disponible)"></i>
					</div>
				</div>

				<div class="overview"></div>
				
			</div>

			<div class="item-row-empty">
					<b class="c-gray">
						Gracias a tu recarga cuentas con:
					</b>
				</div>
				<div class="wrapper-item" ng-repeat="grupo in beneficios.grupos"  ng-if="grupo.tipoBolsa === 'beneficios'" ng-class="{'to-detail': grupo.toDetail}" id="iditemb{{$index}}">
					
					<div class="item-row" ng-click="!esIllimitada(grupo.disponible) && showDetail(grupo, 'iditemb' + $index)">
						<div class="item-col width-40 padding-lr-20">
							<i class="item-ico" ng-class="grupo.icon"></i>
						</div>
						<div class="item-col">
							<span>{{grupo.nombre}}</span>
						</div>
						<div class="item-col width-114 t-center">
							<h1 ng-if="!esIllimitada(grupo.disponible)"><b>{{grupo.disponible}}</b></h1>
							<h1 ng-if="esIllimitada(grupo.disponible)"><b class="c-green fs-18">{{grupo.disponible}}</b></h1>
						</div>
						<div class="item-col width-36">
							<i class="icon icon-arrow icon-arrow"  ng-if="!esIllimitada(grupo.disponible)"></i>
						</div>
					</div>
	
					<div class="overview"></div>
					
				</div>

			
	
			<div class="item-row-empty">
				<b class="c-gray">
					¿Alguna duda con tus consumos? 
				</b>
			</div>

			<div class="wrapper-item" ng-class="{'to-detail': item.toDetail}" id="iditemConsumos">
				<div class="item-row" ng-click="showConsumos('iditemConsumos')">
						<div class="item-col width-40 padding-lr-20">
							<i class="item-ico att-data-visualization-slim"></i>
						</div>
						<div class="item-col">
							<span>Consumos</span>
						</div>
						<div class="item-col width-114 t-center">
							<h1><b></b></h1>
						</div>
						<div class="item-col width-36">
							<i class="icon icon-arrow"></i>
						</div>
					</div>
					<div class="overview"></div>
		
				</div>
			</section>
		</section>


	
	</main>





	<div id="wrappersContents">
		
			<div id="contentBeneficios" class="alert-detail">
					<hr>
					
					<div ng-show="descriptionToggle">
						<div class="item-row-empty">
							<div class="item-col width-40" ng-click="hideDescription()">
								<i class="icon icon-arrow icon-left"></i>
							</div>
							<div class="item-col">
								<h3 class="f-medium">{{descripcionTitle}}</h3>
							</div>
						</div>
						<hr>
						<div class="item-row-empty">
							<div class="item-col fs-14" ng-bind-html="descripcion">
							</div>
						</div>
					</div>
					<div  ng-hide="descriptionToggle">

							<div class="item-row-empty">
								<div class="item-col">
									<h3 class="f-medium">Conoce el saldo de cada una de las bolsas:</h3>
								</div>
							</div>
							<div ng-repeat="detalle in grupoObj.detalle">

									<div class="padding-top-bottom-10" ng-repeat="bolsa in detalle.bolsas" ng-class="{'opacity-30':bolsa.congelado}">
										<div class="item-row-empty margin-top-bottom-0 padding-top-bottom-0">
											<div class="item-col fs-14 f-regular">
												{{bolsa.nombre}}
											</div>
											<div class="item-col t-right padding-left-20 f-regular min-width-80">
													<span ng-if="bolsa.incluido !== 'Ilimitadas'">+ {{bolsa.incluido}}</span>
													<span ng-if="bolsa.incluido === 'Ilimitadas'" class="c-green f-medium">{{bolsa.incluido}}</span>
											</div>
											<div class="item-col t-right padding-left-20 width-40">
												<i class="icon icon-info" ng-click="showDescription(bolsa.descripcion, bolsa.nombre)"></i>
											</div>
										</div>
										<div class="item-row-empty margin-top-bottom-0 padding-top-bottom-0">
											<div class="item-col fs-14 f-regular">
												Vigencia <span class="c-black">{{bolsa.expiracion}} </span>
											</div>
											<div class="item-col fs-14 f-regular" ng-if="bolsa.congelado">
												Congelado
											</div>
										</div>
									</div>
									<hr>
									<div class="item-row-empty margin-top-bottom-0" ng-if="detalle.incluido">
										<div class="item-col fs-14">
											Total incluido
										</div>
										<div class="item-col t-right">
											{{detalle.incluido}}
										</div>
										<div class="item-col width-40"></div>
									</div>
									<div class="item-row-empty margin-top-bottom-0" ng-if="detalle.consumido">
										<div class="item-col fs-14">
											<b>Consumido</b>
										</div>
										<div class="item-col t-right">
											<b>- {{detalle.consumido}}</b>
										</div>
										<div class="item-col width-40"></div>
									</div>
									<hr ng-if="detalle.consumido" >
									<div class="item-row-empty c-green" ng-if="detalle.disponible">
										<div class="item-col fs-14">
											<b>Total Saldo</b>
										</div>
										<div class="item-col t-right">
											<b>{{detalle.disponible}}</b>
										</div>
										<div class="item-col width-40"></div>
									</div>
			
								</div>
					</div>
					

				</div>
		
		<div id="contentConsumos" class="alert-detail"> 
		<hr>
		<div class="tabs col-3">
			<div class="tab" ng-repeat="item in consumos" ng-class="{ 'active' : item.active }"  ng-click="resetConsumosTabs(item);">
				<i class="icon" ng-class="item.icono"></i>
				<span class="f-medium fs-14">{{item.tipo}}</span>
			</div>
		</div>
		<div class="">
			<div class="item-row-empty">
				<div class="item-col">
					Seleciona un periodo
				</div>
			</div>
			<hr>
			<div class="item-row-empty t-center">
				<div class="item-col">
					<i class="icon icon-arrow icon-left" ng-click="periodoAnterior()" ng-class="{'opacity-30': !activeAnterior}"></i>
				</div>
				<div class="item-col">
					<span>{{periodo}}</span></div>
				<div class="item-col">
					<i class="icon icon-arrow icon-right" ng-click="periodoSiguiente()"  ng-class="{'opacity-30': !activeSiguiente}"></i>
				</div>
			</div>
			
		</div>
		<!-- <div class="wrapper-chart">
			<canvas id="myChart"></canvas>
		</div> -->
		<div class="overflow-auto">
			<table class="detalle-consumos">
				<thead>
					<tr>
						<th ng-repeat="item in consumosTable.titulos">{{item}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in consumosTable.contenido">
						<td ng-repeat="jtem in item">{{jtem}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	</div>